@model Teams.Models.CombinedModel
@{
    ViewBag.Title = "Sprints";
}

<script src="https://kit.fontawesome.com/8519ed4a13.js" crossorigin="anonymous"></script>

<div style="margin: 10px 0px 0px 30px" align="left">
    <h><i class="fas fa-arrow-left"></i><a color="black">@Html.ActionLink("  Return to your teams", "GetMyTeams", "ManageTeams")</a></h>
</div>
<div align="center">
    <h><font size="6" color="black"><strong>@ViewBag.TeamName</strong></font></h>
</div>
<div sstyle="display: inline-block">
    <table align="left" style="width:50%" class="table">

        <tr align="center">
            <td align="left" style="border-top: hidden" width="1%"></td>
            <td align="left" style="border-top: hidden; font-weight: bold">@ViewData["NameOfSprint"]</td>
            <td align="left" style="border-top: hidden; font-weight: bold">@ViewData["DaysInSprint"]</td>
            <td align="left" style="border-top: hidden; font-weight: bold">@ViewData["StorePointInHours"]</td>
            <td style="border-top: hidden"></td>
            <td style="border-top: hidden; visibility: @ViewBag.AddVision" align="right">
                @Html.ActionLink("", "AddSprint", new { teamId = ViewBag.TeamId, errorMessage = "" }, new { @class = "fas fa-plus", title = "Add Sprint", style = "margin: 10px 0px 0px 30px", align = "right" })
            </td>
        </tr>

        @foreach (var item in Model.Sprints)
        {
            <tr align="center">
                @if (item.IsActive)
                {
                    <td align="left" width="1%" bgcolor="green"></td>
                }
                else
                {
                    <td align="left" width="1%" bgcolor="red"></td>
                }
                <td align="left">@Html.ActionLink(item.Name, "GetSprintById", new { sprintId = item.Id })</td>
                <td align="left">@item.DaysInSprint</td>
                <td align="left">@item.StorePointInHours</td>
                <td style="visibility: @ViewBag.AddVision" align="right">
                    @Html.ActionLink("", "EditSprint", new { teamId = ViewBag.TeamId, sprintId = item.Id, errorMessage = "" }, new { @class = "fas fa-pen", title = "Edit Sprint", style = "margin: 10px 0px 0px 30px", align = "right" })
                </td>
                <td></td>
            </tr>
        }
    </table>

    <table align="right" style="width:40%; border: 2px solid black" class="table">

        <tr align="center">
            <td align="left"  width="1%"></td>
            <td align="left" style="font-weight: bold">@ViewData["MemberEmail"]</td>
            <td style="visibility: @ViewBag.AddVision" align="right">
                @Html.ActionLink("", "AddMember", "ManageTeamMembers", new { team_id = ViewBag.TeamId }, new { @class = "fas fa-user-plus", title = ViewData["AddMember"], style = "margin: 10px 0px 0px 30px", align = "right" })
            </td>
        </tr>
        <tr align="center">
            <td align="left" width="1%"><i title="@ViewData["Owner"]" class="fas fa-crown"></i></td>
            <td align="left">@ViewBag.TeamOwner</td>
            <td align="right" ></td>
        </tr>
        @foreach (var item in Model.TeamMembers)
        {
            <tr align="center">
                <td align="left" width="1%"><i title="@ViewData["Member"]" class="fas fa-user"></i></td>
                <td align="left">@item.Member.Email</td>
                <td style="visibility: @ViewBag.AddVision" align="right">
                    @Html.ActionLink("", "Remove", "ManageTeamMembers", new { team_id = ViewBag.TeamId, member_id = item.MemberId, team_name = @ViewBag.TeamName, owner_name=ViewBag.TeamOwner }, new { @class = "far fa-trash-alt", title = ViewData["RemoveMember"], style = "margin: 10px 0px 0px 30px", align = "right" })
                </td>
            </tr>
        }
    </table>
</div>