@model Teams.Models.Sprint
@{
    ViewData["Title"] = "Add Sprint";
}
<script src="https://kit.fontawesome.com/8519ed4a13.js" crossorigin="anonymous"></script>
<div style="margin: 10px 0px 0px 30px" align="left">
    <h><i class="fas fa-arrow-left"></i><a color="black">@Html.ActionLink("  Return to Sprints", "AllSprints", new { team_id = ViewBag.TeamId })</a></h>
</div>

<div align="center">
    <h1 size="4" align="left">@ViewBag.TeamName | @ViewData["EditSprint"]</h1>
</div>

<div>
    @using (Html.BeginForm("EditSprint", "ManageSprints", FormMethod.Post))
    {
        <div><p align="center" style="color:red">@ViewBag.ErrorMessage</p></div>
        @Html.Hidden("team_id", @ViewBag.TeamId as string)
        @Html.Hidden("sprint_id", @ViewBag.SprintId as string)
        <div>
            <label for="name">@ViewData["Name"] :</label>
            <input id="name" name="sprint_name" class="form-control" value="@ViewBag.SprintName" />
        </div>

        <div>
            <label for="days">@ViewData["DaysInSprint"] :</label>
            <input id="days" name="days_in_sprint" class="form-control" value="@ViewBag.SprintDays" />
        </div>

        <div>
            <label for="points">@ViewData["StorePointInHours"]</label>
            <input id="points" name="store_points_in_hours" class="form-control" value="@ViewBag.SprintPoints" />
        </div>

        <div>
            <label for="active">@ViewData["Active"]</label>
            <input @ViewBag.SprintActive name="is_active" id="active" type="radio" value="true" />
            <label for="nonactive">@ViewData["NotActive"]</label>
            <input @ViewBag.SprintNotActive id="nonactive" name="is_active" type="radio" value="false" />
        </div>
        <input id="sub" type="submit" class="btn btn-primary" value="@ViewData["EditSprint"]" />
    }
</div>