@model Teams.Models.Sprint
@{
    ViewBag.Title = Model.Name;
}

<script src="https://kit.fontawesome.com/8519ed4a13.js" crossorigin="anonymous"></script>

<div style="margin: 10px 0px 0px 30px" align="left">
    <h><i class="fas fa-arrow-left"></i><a color="black">@Html.ActionLink("  Return to Sprints", "AllSprints", new { team_id = Model.TeamId })</a></h>
</div>
<div align="center">
    <h><font size="6" color="black"><strong>@Model.Name</strong></font></h>
</div>
<table class="table">

    <tr align="center">
        <td align="left" style="border-top: hidden" width="1%"></td>
        <td align="left" style="border-top: hidden; font-weight: bold">Name of Sprint</td>
        <td align="left" style="border-top: hidden; font-weight: bold">Days in Sprint</td>
        <td align="left" style="border-top: hidden; font-weight: bold">Story Point in Hours</td>
    </tr>

    <tr align="center">
        @if (Model.IsActive)
        {
            <td align="left" width="1%" bgcolor="green"></td>
        }
        else
        {
            <td align="left" width="1%" bgcolor="red"></td>
        }
        <td align="left">@Model.Name</td>
        <td align="left">@Model.DaysInSprint</td>
        <td align="left">@Model.StorePointInHours</td>
    </tr>   

</table>
<table class="table">

    <tr align="center">
        <td align="left" style="border-top: hidden; font-weight: bold">Name of task</td>
        <td align="left" style="border-top: hidden; font-weight: bold">Number of Story Point</td>
    </tr>

    <tr align="center">
       
    </tr>

</table>
