@model Teams.Web.ViewModels.Sprint.SprintViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["AddSprint"];
}
<script src="https://kit.fontawesome.com/8519ed4a13.js" crossorigin="anonymous"></script>

<div align="center">
    <h1 size="4" align="left">@ViewBag.TeamName | @Localizer["AddSprint"]</h1>
</div>

<div>
    @using (Html.BeginForm("AddSprint", "ManageSprints", FormMethod.Post))
    {
        <div><p align="center" style="color:red">@ViewBag.ErrorMessage</p></div>
        @Html.Hidden("teamId", @ViewBag.TeamId as string)
        <div>
            <label for="name">@Localizer["Name"] :</label>
            <input id="name" name="Name" class="form-control" />
            <span asp-validation-for="Name"></span>
        </div>

        <div>
            <label for="days">@Localizer["DaysInSprint"] :</label>
            <input id="days" name="DaysInSprint" class="form-control" />
            <span asp-validation-for="DaysInSprint"></span>
        </div>

        <div>
            <label for="points">@Localizer["StoryPointInHours"]</label>
            <input id="points" name="StoryPointInHours" class="form-control" />
            <span asp-validation-for="StoryPointInHours"></span>
        </div>

        <div>
            @Html.RadioButton("status", PossibleStatuses.CompletedStatus)
            <span>@Localizer["Сompleted"]</span> <br />
            @Html.RadioButton("status", PossibleStatuses.ActiveStatus)
            <span>@Localizer["Active"]</span> <br />
            @Html.RadioButton("status", PossibleStatuses.CreatedStatus, true)
            <span>@Localizer["Created"]</span>
        </div>

        <div style="display: table">
            <input id="sub" type="submit" class="btn btn-success" value="@Localizer["AddSprint"]" />
            <button style="margin-left:7px" type='button' class="btn btn-danger" onclick="location.href = '@Url.Action("AllSprints", "ManageSprints", new { teamId = Model.Id })'">@Localizer["Close"]</button>
        </div>
    }
</div>
