@model Teams.Web.ViewModels.Sprint.SprintAndTeamViewModel;
@{
    ViewBag.Title = "Sprints";
}

<script src="https://kit.fontawesome.com/8519ed4a13.js" crossorigin="anonymous"></script>

<style>
    tbody tr:hover {
        background: rgba(0, 0, 0, 0.20);
        color: #fff;
    }
</style>

<div style="margin: 10px 0px 0px 30px" align="left">
    <h><i class="fas fa-arrow-left"></i><a color="black">@Html.ActionLink("  Return to your teams", "GetMyTeams", "ManageTeams")</a></h>
</div>
<div align="center">
    <h><font size="6" color="black"><strong>@Model.Team.TeamName</strong></font></h>
</div>
<div sstyle="display: inline-block">
    <table align="left" style="width:50%" class="table" id="grid">
        <thead>
            <tr align="center">
                <td align="left" style="border-top: hidden" width="1%"></td>
                <td align="left" style="border-top: hidden; font-weight: bold">@ViewData["NameOfSprint"]</td>
                <td align="left" style="border-top: hidden; font-weight: bold">@ViewData["DaysInSprint"]</td>
                <td align="left" style="border-top: hidden; font-weight: bold">@ViewData["StoryPointInHours"]</td>
                <td style="border-top: hidden"></td>
                <td style="border-top: hidden; visibility: @ViewBag.AddVision" align="right">
                    @Html.ActionLink("", "AddSprint", new { teamId = @Model.Team.Id, errorMessage = "" }, new { @class = "fas fa-plus", title = "Add Sprint", style = "margin: 10px 0px 0px 30px", align = "right" })
                </td>
            </tr>
        </thead>

        @foreach (var item in Model.Sprints)
        {
            <tbody>

            <tr align="center">
                @if (item.Status == PossibleStatuses.ActiveStatus)
                {
                    <td class="colorBlock" align="left" width="1%" bgcolor="green"></td>
                }
                else if (item.Status == PossibleStatuses.CompletedStatus)
                {
                    <td class="colorBlock" align="left" width="1%" bgcolor="yellow"></td>
                }
                else if (item.Status == PossibleStatuses.CreatedStatus)
                {
                    <td class="colorBlock" align="left" width="1%" bgcolor="blue"></td>
                }
                <td align="left" data-type="@item.Id">@Html.ActionLink(item.Name, "GetSprintById", new {sprintId = item.Id})</td>
                <td align="left" data-type="@item.Id">@item.DaysInSprint</td>
                <td align="left" data-type="@item.Id">@item.StoryPointInHours</td>
                <td style="visibility: @ViewBag.AddVision" align="right" data-type="@item.Id">
                        @Html.ActionLink("", "EditSprint", new {teamId = Model.Team.Id, sprintId = item.Id, errorMessage = ""}, new {@class = "fas fa-pen", title = "Edit Sprint", style = "margin: 10px 0px 0px 30px", align = "right"})

                    </td>
                    <td style="visibility: @ViewBag.AddVision" align="right" data-type="@item.Id">
                        <button type='button' class='btn btn-outline-danger border-0' data-toggle="modal" data-target="#myModal"
                                data-content="@item.Name" data-whatever="@item.Id">
                            <i class='far fa-trash-alt'></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        }

    </table>
</div>

        <form id="workingDaysPartial">
            <partial name="~/Views/ManageMemberWorkingDays/_WorkingDaysPartial.cshtml" model="Model">
        </form>


<form>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-dialog-centered">

            <div class="modal-content">
                <div class="modal-body">
                    <p align="center" id="sprint"></p>
                    <input type="hidden" id="sprintId" name="sprintId" value="" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-secondary" asp-action="Remove">OK</button>
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">@ViewData["Cancel"]</button>
                </div>
            </div>

        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $("#myModal").on("show.bs.modal", function (event) {
            var button = $(event.relatedTarget)
            var sprint = button.data('content')
            var sprintId = button.data('whatever')
            var removeModal = $("#myModal");
            removeModal.find("#sprintId").val(sprintId);
            document.getElementById('sprint').innerHTML = "@ViewData["Remove"]" + "<strong>" + sprint + "</strong>" + "?";
        });
    });

    grid.onclick = function (e) {
        if (e.target.tagName != 'TD') return;
        if (e.target.classList.contains("colorBlock")) return;
        console.log(e.target.className);
        let th = e.target;
        var sprintId = th.dataset.type;
        $.ajax({
                type: "Get",
                url: "/ManageMemberWorkingDays/GetAllWorkingDays/",
                data: "sprintId=" + sprintId,
                dataType: "html",
                success: function (data) {
                    $('#workingDaysPartial').html(data);
                },
                error: function () {
                    alert("Content load failed.");
                }
            });
    };
</script>

