@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Teams.Data.Models.Sprint
@{
    ViewBag.Title = Model.Name;
}

<script src="https://kit.fontawesome.com/8519ed4a13.js" crossorigin="anonymous"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div style="margin: 10px 0px 0px 30px" align="left">
    <h><i class="fas fa-arrow-left"></i><a color="black">@Html.ActionLink("  Return to Sprints", "AllSprints", new { teamId = Model.TeamId })</a></h>
</div>
<div align="center">
    <h><font size="6" color="black"><strong>@Model.Name</strong></font></h>
</div>
<hr />
<table class="table">

    <tr align="center">
        <td align="left" style="border-top: hidden" width="1%"></td>
        <td align="left" style="border-top: hidden; font-weight: bold">@Localizer["NameofSprint"]</td>
        <td align="left" style="border-top: hidden; font-weight: bold">@Localizer["DaysinSprint"]</td>
        <td align="left" style="border-top: hidden; font-weight: bold">@Localizer["StoryPointinHours"]</td>
    </tr>

    <tr align="center">
        @if (Model.IsActive)
        {
            <td align="left" width="1%" bgcolor="green"></td>
        }
        else
        {
            <td align="left" width="1%" bgcolor="red"></td>
        }
        <td align="left">@Model.Name</td>
        <td align="left">@Model.DaysInSprint</td>
        <td align="left">@Model.StoryPointInHours</td>
    </tr>

</table>
<table class="table">

    <tr align="center">
        <td align="left" style="border-top: hidden; font-weight: bold">@Localizer["NameofTask"]</td>
        <td align="left" style="border-top: hidden; font-weight: bold">@Localizer["User"]</td>
        <td align="left" style="border-top: hidden; font-weight: bold">@Localizer["StoryPoint"]</td>
        <td align="left" style="border-top: hidden; font-weight: bold">@Localizer["Link"]</td>
        <td style="visibility: @ViewBag.AddVision" align="right">
            @Html.ActionLink("", "AddTask", "ManageTasks", new {teamId = Model.TeamId, sprintId = Model.Id, errorMessage = ""}, new { @class = "fas fa-plus", title = "Add Task", style = "margin: 10px 0px 0px 30px", align = "right" })
        </td>
    </tr>

    @foreach (var item in @Model.Tasks)
    {
        <tr align="center">
            <td align="left">@item.Name</td>
            <td align="left">@item.TeamMember.Member.Email</td>
            <td align="left">@item.StoryPoints</td>
            <td href="https://@item.Link"><a href="@item.Link" align="left">@Localizer["Link"]</a></td>

            <td style="visibility: @ViewBag.AddVision" align="right">
                @Html.ActionLink("", "EditTask", "ManageTasks", new { teamId = Model.TeamId, taskId = item.Id, errorMessage = "" }, new { @class = "fas fa-pen", title = "Edit Task", style = "margin: 10px 0px 0px 30px", align = "right" })
            </td>
            <td style="visibility: @ViewBag.AddVision" align="right">
                <button type='button' class='btn btn-outline-danger border-0' data-toggle="modal" data-target="#removeTaskFromSprint"
                        data-taskname="@item.Name" data-taskid="@item.Id" data-sprintname="@Model.Name">
                    <i class='far fa-trash-alt'></i>
                </button>
            </td>

        </tr>
    }

</table>

<form>
    <div class="modal fade" id="removeTaskFromSprint" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <p align="center" id="task"></p>
                    <input type="hidden" id="taskId" name="taskId" value="" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-secondary" asp-controller="ManageTasks" asp-action="RemoveInSprint">OK</button>
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">@Localizer["Cancel"]</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $("#removeTaskFromSprint").on("show.bs.modal", function (event) {
            var button = $(event.relatedTarget);
            var taskId = button.data('taskid')
            var taskName = button.data('taskname');
            var sprintName = button.data('sprintname');
            var removeTask = $("#removeTaskFromSprint");
            removeTask.find("#taskId").val(taskId);
            document.getElementById('task').innerHTML =
                "@Localizer["Remove"]" + "<strong>" + taskName + "</strong>" + "@Localizer["from"]" + "<strong>" + sprintName + "</strong>" + " ?";
        });
    });
</script>