@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Teams.Data.Models
@model Teams.Web.ViewModels.TeamViewModel

@{
    ViewData["Title"] = @Localizer["EditTeam"];
}
<h1>@Localizer["EditTeam"]</h1>
<hr />

@using (Html.BeginForm())
{
    <input type="hidden" value="@Model.Id" />
    <table>
        <tr>
            <td>@Localizer["Name"]</td>
        </tr>
        <tr>
            <td><input type="text" name="teamName" value="@Model.TeamName" /></td>
            @if (ViewBag.resultOfEditing != null && ViewBag.resultOfEditing)
            {
               <td>@Localizer["Saved"]</td>
            }
            else if (ViewBag.resultOfEditing != null)
            {
               <td>@Localizer["NameIsTaken"]</td>
            }
        </tr>
        <tr>
            <td><input type="submit" class="btn btn-success" value="@Localizer["Save"]" /></td>
        </tr>
        <tr>
            <td><a class="btn btn-danger" href="GetMyTeams" role="button">@Localizer["Back"]</a></td>
        </tr>
    </table>
}