@model List<Teams.Web.ViewModels.Team.TeamViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["MyTeams"];
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/8519ed4a13.js" crossorigin="anonymous"></script>

<table class="table">
    <tr align="center">
        <td align="left" style="border-top: hidden" width="1%"></td>
        <td align="left" style="font-weight: bold;border-top: hidden">@Localizer["TeamName"]</td>
        <td align="right" style="border-top: hidden" width="1%"></td>
        <td align="right" style="border-top: hidden" width="1%"></td>
        <td align="right" style="border-top: hidden" width="1%"></td>
        <td align="right" style="border-top: hidden" width="1%">
            <button type='button' class='btn btn-outline-primary border-0' data-toggle="modal" data-target="#addModal">
                <i class='fas fa-plus'></i>
            </button>
        </td>
    </tr>
    @foreach (var item in Model)
    {
        <tr align="center">
            @if (item.Owner.UserName == User.Identity.Name)
            {
                <td align="left" width="1%"><i title="Owner" class="fas fa-crown"></i></td>

            }
            else
            {
                <td align="left" width="1%"><i title="Member" class="fas fa-user"></i></td>
            }
            <td align="left" style="word-break: break-all"><a>@Html.ActionLink(item.TeamName, "TeamMembers", "ManageTeamMembers", new { teamId = item.Id })</a></td>
            <td align="right" onclick="location.href = '@Url.Action("AllSprints", "ManageSprints", new { teamId= item.Id })'"><button type='button' class='btn btn-outline-secondary border-0'>@Localizer["Sprints"]</button></td>
            <td align="right" onclick="location.href = '@Url.Action("AllTasksForTeam", "ManageTasks", new { teamId = item.Id })'"><button type='button' class='btn btn-outline-secondary border-0'>@Localizer["Tasks"]</button></td>
            @if (item.Owner.UserName == User.Identity.Name)
            {
                <td align="right">
                    <button type='button' class='btn btn-outline-primary border-0' data-toggle="modal" data-target="#editModal"
                            data-whatever="@item.Id">
                        <i class='far fa-edit'></i>
                    </button>
                </td>
                <td align="right">
                    <button type='button' class='btn btn-outline-danger border-0' data-toggle="modal" data-target="#myModal"
                            data-content="@item.TeamName" data-whatever="@item.Id">
                        <i class='far fa-trash-alt'></i>
                    </button>
                </td>
            }
            else
            {
                <td align="right"></td>
                <td align="right"></td>
            }
        </tr>


    }
</table>

<form>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-dialog-centered">

            <div class="modal-content">
                <div class="modal-body text-center">
                    <p id="team" style="word-break: break-all"></p>
                    <input type="hidden" class="form-control" id="teamId" name="teamId" value="" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-secondary" asp-action="Remove">OK</button>
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">@Localizer["Cancel"]</button>
                </div>
            </div>

        </div>
    </div>
</form>

<form method="post">
    <div class="modal fade" id="editModal" role="dialog">
        <div class="modal-dialog modal-dialog-centered">

            <div class="modal-content">
                <div class="modal-body text-center">
                    <p>Введите название команды:</p>
                    <input type="text" class="form-control" name="TeamName" value="" />
                    <input type="hidden" class="form-control" id="Id" name="Id" value="" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-secondary" asp-action="EditTeamName">OK</button>
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">@Localizer["Cancel"]</button>
                </div>
            </div>

        </div>
    </div>
</form>

<form method="post">
    <div class="modal fade" id="addModal" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <p>Введите название команды:</p>
                    <input type="text" class="form-control" name="TeamName" value="" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-secondary" asp-action="AddTeam">OK</button>
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">@Localizer["Cancel"]</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $("#myModal").on("show.bs.modal", function (event) {
            var button = $(event.relatedTarget);
            var team = button.data('content');
            var teamId = button.data('whatever');
            var removeModal = $("#myModal");
            removeModal.find("#teamId").val(teamId);
            document.getElementById('team').innerHTML = "@Localizer["RemoveTeam"]" + "<strong>" + team + "</strong>" + "?";
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#editModal").on("show.bs.modal", function (event) {
            var button = $(event.relatedTarget);
            var teamId = button.data('whatever');
            var editModal = $("#editModal");
            editModal.find("#Id").val(teamId);
        });
    });
</script>

