@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["AddMember"];
}

<script src="https://kit.fontawesome.com/8519ed4a13.js" crossorigin="anonymous"></script>
<h><a color="black" onclick="location.href = '@Url.Action("TeamMembers", "ManageTeamMembers", new { teamId = @ViewBag.TeamId})'"><i class="fas fa-arrow-left"></i>@Localizer["Return"]</a></h>
<br/>
<div align="center">
    <h1 size="4" align="left">@ViewBag.TeamName | @Localizer["AddMember"]</h1>
</div>
<hr />
<div>
    @using (Html.BeginForm("AddMember", "ManageTeamMembers", FormMethod.Post))
    {
        @Html.Hidden("teamId", @ViewBag.TeamId as string)
        @section scripts{
            <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

            <script>
                function myFunction(e) {
                    document.getElementById("user").value = e.target.value
                }
                $(document).ready(function () {
                    $('.js-example-basic-multiple').select2();
                });
            </script>
        }
        <input hidden="hidden" id="user" name="memberId">

        <select class="js-example-basic-multiple" id="members" onchange="myFunction(event)">
            <option disabled selected>@Localizer["Choose"]</option>
            @foreach (var item in ViewBag.Users)
            {
                <option value=@item.Id>@item.Email</option>
            }
        </select><br/><br/>
        
        <input id="sub" type="submit" class="btn btn-success" value="@Localizer["AddMember"]" />
    }
</div>