@{
    ViewData["Title"] = "Add Member";
}

<div align="center">
    <h1 size="4" align="left">@ViewBag.TeamName | Add Team Member</h1>
</div>

<div>
    @using (Html.BeginForm("AddMember", "ManageTeamMembers", FormMethod.Post))
    {
        @Html.Hidden("team_id",@ViewBag.TeamId as string)
        <input name="member_id" list="members">
        <datalist id="members">
            @foreach (var item in @ViewBag.Users)
            {
                <option value="@item.Id">@item.Email</option>
            }
        </datalist>

        <input type="submit" class="btn btn-primary" value="Add Member" />
    }
</div>