@model Teams.Web.ViewModels.Task.TaskFormViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["EditTask"];
}
<script src="https://kit.fontawesome.com/8519ed4a13.js" crossorigin="anonymous"></script>

<div align="center">
    <h1 size="4" align="left">@Model.TeamName | @Localizer["EditTask"]</h1>
</div>

<div>
    @using (Html.BeginForm("EditTask", "ManageTasks", FormMethod.Post))
    {
        <div><p align="center" style="color:red">@Model.ErrorMessage</p></div>
        @Html.Hidden("teamId", @Model.TeamId)
        @Html.Hidden("taskSprintId", @Model.TaskSprintId)
        @Html.Hidden("taskId", @Model.TaskId)
        @Html.Hidden("TeamMembers", @Model.TeamMembers)
        @Html.Hidden("TeamName", @Model.TeamName)

        @section scripts{
            <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

            <script>
                function myFunction(e) {
                    document.getElementById("user").value = e.target.value
                }
                $(document).ready(function () {
                    $('.js-example-basic-single').select2();
                });
            </script>
        }
        <div>
            <label for="name">@Localizer["Name"] :</label>
            <input id="name" name="taskName" class="form-control" value="@Model.TaskName" />
            <span asp-validation-for="TaskName"></span>
        </div>

        <div>
            <label for="days">@Localizer["TaskLink"] :</label>
            <input id="days" name="taskLink" class="form-control" value="@Model.TaskLink" />
            <span asp-validation-for="TaskLink"></span>
        </div>

        <div>
            <label for="points">@Localizer["StoryPoints"]</label>
            <input id="points" name="taskStoryPoints" class="form-control" value="@Model.TaskStoryPoints" />
            <span asp-validation-for="TaskStoryPoints"></span>
        </div>
        
        <div style="margin-top:4px">
            <label for="user">@Localizer["User"]</label>
            <input hidden="hidden" id="user" name="taskMemberId">
            <select class="js-example-basic-single" id="members" onchange="myFunction(event)">
                <option disabled selected>@Localizer["SelectUser"]</option>
                @foreach (var item in Model.TeamMembers)
                {
                    <option value=@item.Id>@item.Member.Email</option>
                }
            </select>
        </div>
        <div style="display: table">
            <input id="sub" type="submit" class="btn btn-success" value="@Localizer["EditTask"]" />
            <button style="margin-left:7px" type='button' class="btn btn-danger" onclick="location.href = '@Url.Action("AllTasksForTeam", "ManageTasks", new { teamId = Model.TeamId })'">@Localizer["Close"]</button>
        </div>
    }
</div>